@charset "utf-8";

@media (min-width:768px) {


/*ν—¤λ”*/
header {
	width: 100%;
	height: 100px;
	background-color: #fff;
	position: absolute;
}

#logo {
	display: inline-block;
	display: none;
}

#logo > img {
	width: 190px;
	height: 50px;
	padding: 40px 0 0 0px;
	cursor: pointer;
}

header #small {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px 0 0 0px;
}

#smlogo img {
	width: 180px;
	color: #fff;
	text-align: center;
	padding: 0px 0 0 20px;
	cursor: pointer;
}

#menu_b {
	width: 25px;
	height: 30px;
	cursor: pointer;
	margin: 5px 20px 0 0px;
}

#menu_c a {
	padding: 15px 20px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	color: #444;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

#menu_c a:hover {
	background-color: #eee;
}

#menu_c,
#menu_a {
	display: none;
}



	/*ν‘Έν„°*/

	#text_8 {
		width: 100%;
		height: 300px;
		background-color: #2b1440;
		text-align: center;
	}

	#footertext {
		width: 100%;
		height: 200px;
		padding-top: 70px;
		margin: 0 auto;
	}

	#footertext>img {
		width: 230px;
		height: 50px;
	}


	#footertext>p {
		color: #FFF;
		line-height: 30px;
		padding: 20px;
	}

	.icon {
		width: 100%;
		height: 50px;
		display: block;
		margin-top: 10px;
		cursor: pointer;
	}

}